<section class="body-padding">
    <% @blogs_all.each do |blog| %>
    <div class="inner blog-lists">
      <a href="<%= blog_path(blog.id) %>"><%= blog.title %></a>
    </div>
    <% end %>
</section>