

<div class="row">
  <div class="vertical-double-inner">
    <div class="unit col1of3 some-height"></div>
    
    <div class="unit col1of3">
      <div class="row vertical-double-inner">
        <h1>Sign Up</h1>
      </div>
      <div class="row">
        <%= render 'shared/error_messages' %>
      </div>
      <form accept-charset="UTF-8" action="/admins" method="post">
        <div class="row vertical-half-inner">
          <label for="admin_name">Name</label>
        </div>
        <div class="row">
          <input id="admin_name" name="admin[name]" type="text" />
        </div>

        <div class="row vertical-half_inner">
          <label for="admin_email">Email</label>
        </div>
        <div class="row">
          <input id="admin_email" name="admin[email]" type="text" />
        </div>

        <div class="row vertical-half-inner">
          <label for="admin_password">Password</label>
        </div>
        <div class="row">
          <input id="admin_password" name="admin[password]" type="password" />
        </div>

        <div class="row vertical-half-inner">
          <label for="admin_password_confirmation">Password Confirmation</label>
        </div>
        <div class="row">
          <input id="admin_password_confirmation" name="admin[password_confirmation]" type="password" />
        </div>

        <div class="row">
          <input class="btn btn-primary" value="Create Account" type="submit" name="commit" />
        </div>
      </form>
    </div>

    <div class="unit col1of3"></div>
  </div>
</div>