<div class="body-padding home">
<div class="row vertical-double-inner">
  <div class="row double-inner">
    <%= link_to 'Update Home Page', edit_welcome_path(@welcome) %>
  </div>
  <div class="row double-inner">
    <%= link_to 'Create Blog', new_blog_path %>
  </div>
  <div class="row double-inner">
    <%= link_to 'Link Presentation', new_presentation_path %>
  </div>
  <div class="row double-inner">
    <%= link_to 'Create Project', new_project_path %>
  </div>
</div>
</div>