<div class="row vertical-double-inner">
  <div class="row">
    <%= link_to 'Create Blog', new_blog_path %>
  </div>
  <div class="row">
    <%= link_to 'Link Presentation', new_presentation_path %>
  </div>
</div>