  <div class="row double-inner">
    <div class="unit col3of4 inner">
      <p>I am a Software Engineer in San Francisco and have worked for a startup as a Full-Stack Software Engineer for an year.As a Full-Stack Engineer I built RESTful server interfaces using Ruby, Rails, Rspec, ActiveRecord ORM and Postgresql and I worked on Front-end using Backbone, Javascript, JQuery, HTML and CSS.I like to approach most problems with Test Driven Development (TDD) using Rspec, Jasmine and Cucumber.I am really good at GIT and have deployed applications to Heroku.I have used Facebook, Twitter, Linked-In API's and have experience developing and scheduling background jobs using Resque and Delayed Jobs.</p>

      <p>I was a Hardware Engineer for 2 years with a Masters in Electrical Engineering from UC, Santa Barbara before I realised that I like to program and enjoyed programming. As part of my job as a hardware engineer I programmed using object oriented hardware description and verification languages besides learning the hardware architecture, analog circuitry and clocking networks.I modeled the Firmare interaction with the hardware in System Verilog during my work at Intel.</p>

      <p>I graduated with a Masters in Electrical and Computer Engineering from UC, Santa Barbara and worked at Intel and Xilinx as a Hardware Developer for two years where I used to develop code that models the Computer Chips(Integrated Circuits). I fell in love with web development after a brief introduction of Ruby on Rails at a RailsBridge Workshop and incredible support from Women Who Code and here I am super happy that I made the career switch.</p>

      <p>I live in the beautiful city of San Francisco and enjoy life to the fullest.In my free time I volunteer at
        various non-profit organizations like Women Who Code, RailsBridge and Girl Develop It.I am the Director and Lead of Ruby Study group of Women Who Code, San Francisco.I am a quick learner and am very passionate
        about improving myself whether it comes to coding or exercising or even eating healthy food. I believe in work
        hard, party hard and do what you love.My hobbies are hiking,camping and listening to Music.</p>

        <p>I am looking for a Full-stack Developer Opportunity where I can use my existing skills and build on them by working with a smart team of engineers.</p>
      </div>
      <div class="lastUnit inner">
        <%= image_tag('profile.png') %>
      </div>
    </div>

    <div class="row double-inner">
      <a href="https://twitter.com/sowjumn" class="social-button twitter">Twitter</a>
      <a href="http://www.linkedin.com/in/nmudunuri1" class="social-button linked-in">Linked In</a>
      <a href="http://instagram.com/sowju99" class="social-button instagram">Instagram</a>
      <a href="https://github.com/sowjumn" class="social-button github">GitHub</a>
      <a href="http://www.meetup.com/Women-Who-Code-SF/members/50908002/" class="social-button meetup">MeetUp</a>
    </div>
