<div class="row">
  <div class="navigation">
    <div class="name">
      <h1>Sowjanya Mudunuri</h1>
      <%= image_tag("profile.png") %>
    </div>
    <div class="navi-links">
      <ul><h2>Projects</h2></ul>
      <ul>
        <h2>Blog<h2>
      </ul>
    </div>
  </div>
  <div class="content">
    <div class="row">
      <p>I am a Full-Stack Developer at a start-up in San Francisco. My typical workday involves coding in Ruby on
        Rails, Backbone.js, GIT, Rspec, Cucumber, Jasmine, HTML and CSS. I graduated with a Masters in Electrical and
        Computer Engineering from UC, Santa Barbara and worked at Intel and Xilinx as a Hardware Developer for two years
        where I used to develop code that models the Computer Chips(Integrated Circuits). I fell in love with web
        development after a brief introduction of Ruby on Rails at a RailsBridge Workshop and here I am super happy that
        I made the career switch.
      </p>

      <p>I live in the beautiful city of San Francisco and enjoy life to the fullest. In my free time I volunteer at
        various non-profit organizations like Women Who Code, RailsBridge and Girl Develop It. I am very passionate
        about improving myself whether it comes to coding or exercising or even eating healthy food. I believe in work
        hard, party hard and do what you love.
      </p>
    </div>
    <div class="row">
      <a href="https://twitter.com/sowjumn" class="social-button twitter">Twitter</a>
      <a href="http://www.linkedin.com/in/nmudunuri1" class="social-button linked-in">Linked In</a>
      <a href="http://instagram.com/sowju99" class="social-button instagram">Instagram</a>
      <a href="https://github.com/sowjumn" class="social-button github">GitHub</a>
      <a href="http://www.meetup.com/Women-Who-Code-SF/members/50908002/" class="social-button meetup">MeetUp</a>
    </div>
  </div>
</div>