<div class="row">
  <div class="unit col3of4 inner">
    <p><%= mark(@welcome.para1) %></p>
    <p><%= mark(@welcome.para2) %></p>
    <p><%= mark(@welcome.para3) %></p>
  </div>
  <div class="lastUnit inner">
    
  </div>
</div>

<div class="row">
  <a href="https://twitter.com/sowjumn" class="social-button twitter">Twitter</a>
  <a href="www.linkedin.com/in/nsowjanya/" class="social-button linked-in">Linked In</a>
  <a href="http://instagram.com/sowju99" class="social-button instagram">Instagram</a>
  <a href="https://github.com/sowjumn" class="social-button github">GitHub</a>
  <a href="http://www.meetup.com/Women-Who-Code-SF/members/50908002/" class="social-button meetup">MeetUp</a>
</div>
