a.social-button {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 14px;
  border: 1px solid #cac5c5;
  background-color: whitesmoke;
  border-radius: 4px;
  padding: 4px;
}

.navigation {
  border-bottom: 1px solid gray;
}

.main {
  margin: 20px 100px 20px 50px;
}
