.top-padding {
  padding-top: 15px;
}

a:hover {
  background-color: gray;
}


.blog-content {
  border-bottom: 1px solid gray;
}

.blog-title {
  font-family: Amble;
  font-size: 34px;
}

.blog-date {
  margin-top: 10px;
  color: #6F767E;
  font-size: 18px;
  font-family: Cambria;
}

.blog-para {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: Cambria;
}

.projects-container {
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 100px;
}

.code {
  border-radius: 5px;
  background-color: #BCCDCF;
}

.body-padding {
  margin: 20px;
}

.nav-right {
  border-right: 1px solid #FF9100;
}
