.main {
  margin-top: 100px;
}

.navigation {
  padding-right: 30px;
}

.navigation ul {
  text-align: right;
}

.content {
  padding-left: 60px;
  color: black;
  text-align: justify;
}

.name {
  text-align: right;
}

a.social-button {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 14px;
  border: 1px solid #cac5c5;
  background-color: whitesmoke;
  border-radius: 4px;
  padding: 4px;
}
