h1 {
  font-size: 31px;
  line-height: 1.5;
  color: #333;
}

h2 {
  font-size: 20px;
  color: #333;
}

p {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
}

img {
  width: 190px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  -webkit-box-shadow: 3px 3px 3px #777;
  -moz-box-shadow: 3px 3px 3px #777;
  box-shadow: 3px 3px 3px #777;
}

body {
  background-color: #E5EAEE;
  font-family: sans-serif;
}

input {
  width: 300px;
  padding: 8px;
  margin: 0 0 20px;
  -web-kit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: inset 0 0 4px rgba(0,0,0,0.2);
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
  border: 1px solid #5392f0;
}

.main {
	margin-top: 100px;
}

.navigation {
  padding-right: 30px;
}

.navigation ul {
  text-align: right;
}

.content {
  padding-left: 60px;
  color: black;
  text-align: justify;
}

.name {
  text-align: right;
}

a.social-button {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 14px;
  border: 1px solid #cac5c5;
  background-color: whitesmoke;
  border-radius: 4px;
  padding: 4px;
}


.f-left {
	float: left;
}

.f-right {
	float: right;
}


@media only screen
and (min-width : 1224px) {
  .navigation {
    height: 500px;
  }

  .content {
    height: 500px;
  }
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
  .navigation {
    height: 200px;
  }

  .content {
    height: 200px;
  }
}



