<div class="inner navigation">
  <div class="unit col1of6 inner">
    <a href="/">About</a>
  </div>

  <div class="unit col1of6 inner">
    <a href="/projects">Projects</a>
  </div>

  <div class="unit col1of6 inner">
    <a href="/blog">Blog</a>
  </div>

  <div class="unit col1of6 inner">
    <a href="/community">Community</a>
  </div>

  <div class="unit col1of6 inner">
    <a href="/resume">Resume</a>
  </div>

  <div class="unit col1of6 inner">
    <a href="/presentations">Presentations</a>
  </div>
</div>