<div class="header">
  <div class="row  hidden-xs hidden-sm">
    <div class="col-md-3 image-margin"><a href="/"><%= image_tag('profile.png', alt: "Profile", class: "profile-image") %></a></div>
    <div class="col-md-4"><h3 class="header-margin">Sowjanya Mudunuri</h3></div>
    <div class="col-md-4 nav-margin">
      <nav>
        <ul class="nav nav-pills pull-right cust-right">
          <li role="presentation"><a href="/projects">Projects</a></li>
          <li role="presentation"><a href="/blogs">Blog</a></li>
          <li role="presentation"><a href="/presentations">Speaking</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="hidden-lg hidden-md text-center">
    <div class="row">
      <a href="/">
        <%= image_tag('profile.png', alt: "Profile", class: "profile-image") %>
      </a>
    </div>
    <div class="row"><h4>Sowjanya Mudunuri</h4></div>
    <div class="row">
      <nav>
        <ul class="nav nav-pills">
          <li role="presentation" class="col-xs-4 nav-right"><a href="/projects">Projects</a></li>
          <li role="presentation" class="col-xs-3 nav-right"><a href="/blogs">Blog</a></li>
          <li role="presentation" class="col-xs-4"><a href="/presentations">Speaking</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <hr>
</div>

<% if signed_in? %>
<div class="row">
  <div class="col-md-3">
    <%= link_to 'Admin', {controller: 'admins', action: 'show', id: current_admin.id} %>
  </div>
  <div class="col-md-3">
    <%= link_to 'Signout', {controller: 'sessions', action: 'destroy', id: current_admin.id}, method: :delete %>
  </div>
</div>
<% end %>