<header>
  <figure><a href="/"><%= image_tag('profile.png', alt: "Profile", class: "profile-image") %></a></figure>
  <h1>Sowjanya Mudunuri</h1>
  <nav>
    <ul>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/blogs">Blog</a></li>
      <li><a href="/presentations">Speaking</a></li>
    </ul>
  </nav>
</header>

<% if signed_in? %>
<div class="row">
  <div class="col-md-3">
    <%= link_to 'Admin', {controller: 'admins', action: 'show', id: current_admin.id} %>
  </div>
  <div class="col-md-3">
    <%= link_to 'Signout', {controller: 'sessions', action: 'destroy', id: current_admin.id}, method: :delete %>
  </div>
</div>
<% end %>