<div class="inner navigation">
  <div class="unit col1of3">
    <h1>Sowjanya Mudunuri</h1>
  </div>

  <div class="unit col1of20 some-height">
  </div>
  <div class="unit col1of10 inner top-padding">
    <a href="/">About</a>
  </div>

  <div class="unit col1of10 inner top-padding">
    <a href="/projects">Projects</a>
  </div>

  <div class="unit col1of10 inner top-padding">
    <a href="/blogs">Blog</a>
  </div>

  <div class="unit col1of10 inner top-padding">
    <a href="/community">Community</a>
  </div>

  <div class="unit col1of10 inner top-padding">
    <a href="/presentations">Presentations</a>
  </div>
</div>
<% if signed_in? %>
  <div class="row">
    <div class="unit col1of2">
    <%= link_to 'Admin', {controller: 'admins', action: 'show', id: current_admin.id} %>
  </div>
  <div class="unit col1of2">
    <%= link_to 'Signout', {controller: 'sessions', action: 'destroy', id: current_admin.id}, method: :delete %>
  </div>
  </div>
<% end %>