<div class="inner navigation">
  <div class="unit col1of3">
    <h1>Sowjanya Mudunuri</h1>
  </div>

  <div class="unit col1of20 some-height">
  </div>
  <div class="unit col1of10 inner top-padding">
    <a href="/">About</a>
  </div>

  <div class="unit col1of10 inner top-padding">
    <a href="/projects">Projects</a>
  </div>

  <div class="unit col1of10 inner top-padding">
    <a href="/blog">Blog</a>
  </div>

  <div class="unit col1of10 inner top-padding">
    <a href="/community">Community</a>
  </div>

  <div class="unit col1of10 inner top-padding">
    <a href="/presentations">Presentations</a>
  </div>
</div>